@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

.timelineBody {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    direction: ltr;
    
    width: 100%;
    position:relative;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

    padding: 15px;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
    
}



h1 {
	text-align: center;
}


#app {
	padding: 0 20px;
	width: 100%;
}



.timeline-container {
    
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}



.timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    /* */
    right: calc(50% - 2px);
    width: 4px;
    height: 100%;
}



.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    /* */
    padding-left: 30px;
}



.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}



.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(even) .timeline-item-content {
    /* */
    text-align: right;
    align-items: flex-end;
}

.timeline-item:nth-child(even) .timeline-item-content::after {
    left: auto;
    /* */
    right: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}


.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    /* */
    right: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(even) .timeline-item-content .tag {
    /* */
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
    align-self:flex-start;
}


.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
}

.timeline-item-content a {
	color: #333;
	text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    align-self: flex-start;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}



.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    left: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}



.timeline-item:nth-child(even) .timeline-item-content .circle {
    left: auto;
    /* */
    right: -40px;
}



@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(even) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: underline;
    }

    .timeline-item-content a::after {
        display: none;
    }
}



footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    /* */
    right: 0;
    left: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
